{% extends 'directory_components/base.html' %}
{% load static %}

{% block head_title %}Contact us - great.gov.uk{% endblock %}

{% block head_meta_description %}DIT Help{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet" media="screen">
  <!--[if IE 8]><link href="{% static "stylesheets/ie8.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock %}
{% block body_attributes %}class="{% block body_class %}{% endblock %}"{% endblock %}

{% include 'directory_components/header_static.html' %}

{% block content %}{% endblock content %}

{% include 'directory_components/footer.html' %}

{% block body_js %}
  <script src="{% static 'javascripts/all.js' %}"></script>
{% endblock %}
