{% extends "base.html" %}

{% if success_data.success %}
  {% block body_class %}form-success-body{% endblock %}
{% endif %}

{% block content %}
  {% if success_data.success %}
    {% block success %}
      <div class="outer-container min-height">
        <div class="soft--ends">
          <div class="col-7 soft--bottom heading-headline">
            <h1 class='heading-xlarge push--bottom flush--top'>Your feedback has been sent</h1>
            <ul class="list-regular soft-half--ends push--bottom">
              <li class="font-lig">Thank you for taking the time and sending us your feedback, we really appreciate it. One of our colleagues will review it and send it to the relevant team.</li>
            </ul>
             {% if success_data.valid_url %}
              <p><a href="{{ success_data.originating_page }}" class="link" title="go back">< Go back</a>.</p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  {% else %}
    {% block failure %}
      <div class="outer-container min-height">
        <div class="soft--ends">
          <div class="col-7 soft--bottom heading-headline">
            <h1 class='heading-xlarge push--bottom flush--top'>Technical error</h1>
            <ul class="list-regular soft-half--ends push--bottom">
              <li class="font-lig">Your enquiry couldn't be submitted because of a technical error with our feedback system. Please use your browser's "back" button to review the form and try to resubmit.</li>
              <li class="font-lig">If this problem continues to happen, please try again later.</li>
            </ul>
            <div style='display:none' id='failure_code'>{% block hidden_failure %}{{ success_data.code }}{% endblock %}</div>
          </div>
        </div>
      </div>
    {% endblock %}
  {% endif %}
{% endblock %}
