{% extends "base.html" %}

{% block content %}

  {% block heading %}
    {% include "includes/heading.html" %}
  {% endblock %}

  {% block before_form %}{% endblock %}

  {% block form %}
    {% if form.steps %}
      {% include "includes/stepped_form.html" %}
    {% else %}
      <div class="section">
        <div class="grid-row">
            {% include "includes/form.html" %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block after_form %}{% endblock %}

{% endblock %}
