{% extends "base.html" %}

{% block content %}

  {% block heading %}
    <div class="outer-container soft-half--top push--top triage-header">
      {% include "includes/heading.html" %}
      {% block back_button %}{% endblock %}
    </div>
  {% endblock %}

  {% block before_form %}{% endblock %}

  {% block form %}
    {% if form.steps %}
      {% include "includes/stepped_form.html" %}
    {% else %}
      {% include "includes/form.html" %}
    {% endif %}
  {% endblock %}

  {% block after_form %}{% endblock %}

{% endblock %}
