{% extends "base.html" %}

{% block content %}
  <div class="column-one-whole">
    <h1 class='heading-xlarge push--bottom flush--top'>Contact us</h1>
    <h2>Contact your local export network</h2>
    <div>
      Making the move into any new market can feel like a leap into the unknown. But if you’d like help, there’s a support network near you.
    </div>
    <div>
      <a href="https://www.contactus.trade.gov.uk/enquiry/topic">Complete a short online form and an advisor will contact you</a>
    </div>
    <div>
      Alternatively, call the Business Support Helpline on 0300 456 3565 (Monday to Friday, 9am to 6pm).
    </div>
    <h2>Tell us what you think of our website</h2>
    <div>
      If you would like to tell us what you think of our website or any of our digital services, <a href="{% url 'contact:feedback_submit' service %}">complete our short feedback form</a> and someone will get back to you.
    </div>
  </div>
{% endblock %}
