{% extends "default_form.html" %}

{% block back_button %}
  <div class="col-5">
    <div class="triage-back-button soft--bottom">
      <a href="javascript:utilities.navigateBack()" class="link link--back" title="Go back to details">&lt; Go back to details</a>
    </div>
  </div>
{% endblock %}

{% block container_class %}col-8{% endblock %}

{% block title %}Marketplace application{% endblock title %}

{% block head_meta_description %}Marketplace application{% endblock head_meta_description %}

{% block before_form %}
  <div class="background--aqua">
    <div class="outer-container">
      <div class="form-intro font-white">
        <a href="" class="form-intro-button">
          <h2 class='heading-small font-med push-half--bottom flush--ends soft--ends'>Benefits of applying here</h2>
          <i class="icon-expand icon-close"></i>
        </a>
        <div class="form-intro-content col-8 soft-half--bottom">
          <p class="flush--ends">The Department for International Trade facilitates the introduction between you and the marketplace directly.</p>
          <h2 class='heading-headline font-med flush--top soft--top'>Save time</h2>
          <p>Your application will be 'fast tracked' through this channel, providing a direct route to the marketplace.</p>
          <p class="flush--ends">Your application for this marketplace will be reviewed for suitability and we will respond to you within 5 working days.</p>
          <h2 class='heading-headline font-med flush--ends soft--top'>Save money</h2>
          <p>If successfully matched, you may be able to get access to marketplace offers.</p>
          <p class="form-intro-terms">We collect certain information or data about you when you use <a href="https://www.export.great.gov.uk/" target="_blank">www.export.great.gov.uk</a>. We respect your privacy and will handle your information with care. Read our <a href="https://www.export.great.gov.uk/privacy-and-cookies/" target="_blank">Privacy and Cookies</a> policy.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
