{% extends "default_thanks.html" %}

{% block title %}Marketplace application{% endblock title %}

{% block head_meta_description %}Marketplace application{% endblock head_meta_description %}

{% block success %}
  <div class="form-success background--aqua">
    <div class="section">
      <div class="grid-row text--center font-white soft--top">
        <div class="column-one-whole soft--ends">
          <span class="form-success-icon"><img src="/static/images/submitted.svg" alt="application sent"></span>
          <h1 class="heading-large push-half--bottom soft--top form-success-header">Your application has been sent.</h1>
          <p class="heading-small font-med">What happens next?</p>
        </div>
        <div class="cf soft--top">
          <div class="column-one-third form-success-section"><span>1</span><p>A member of staff from the Department for International Trade will review your application.</p></div>
          <div class="column-one-third form-success-section"><span>2</span><p>We will respond to you within 5 working days.</p></div>
          <div class="column-one-third form-success-section"><span>3</span><p>Suitable applications will be passed to the marketplace for review.</p></div>
        </div>
        <div class="column-one-whole soft--ends push--top">
          <a href="{{ originating_page }}" class="">&lt; Go back to marketplace</a>
        </div>
        <div class="cf soft--top">
          <div class="column-one-fifth">&nbsp;</div>
          <div class="column-three-fifths">
            <div class="audit">
              <i class="icon icon-feedback">
                <span class="visuallyhidden">feedback</span>
              </i>
              <h3 class="heading-small font-med audit-header">Was this service useful?</h3>
              <form class="audit-form">
                <div class="audit-button float--left text--left">
                  <button class="button button-border push--bottom" data-audit="yes">Yes, thanks</button>
                </div>
                <div class="audit-button float--left text--right">
                  <button class="button button-border push--bottom" data-audit="no">Not really</button>
                </div>
                <div class="audit-text-section hide">
                  <fieldset>
                    <div class="push--bottom">
                      <textarea class="form-control form-textarea column-one-whole" id="" name="description" cols="40" rows="5" placeholder="We are sorry to hear that. Would you tell us why?"></textarea>
                    </div>
                  </fieldset>
                  <div class="audit-button audit-button--send text--right float--right hard--right">
                    <button class="button button-border" data-audit="submit">Send my feedback</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="audit-thank hide">
              <i class="icon icon-thankyou">
                <span class="visuallyhidden">Thank you</span>
              </i>
              <h3 class="heading-small font-med audit-header">Thank you for your feedback</h3>
            </div>
          </div>
          <div class="column-one-fifth">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
