{% extends "default_form.html" %}

{% block container_class %}column-five-eights{% endblock %}

{% block after_form %}
  <div class="column-three-eights">
    <aside>
      <div class="home-info background--stone push--bottom">
        <h4 class="heading-small font-med push-half--top">Guidance</h4>
        <p class="font-xxsmall push--top">Use this form to ask for help getting access to an online marketplace. This includes help accessing preferential discounted rates negotiated on behalf of UK businesses by government. Give as much detail as you can to help us understand how your company will fit with your chosen marketplace(s).</p>
      </div>
    </aside>
  </div>
{% endblock %}
