{% extends "default_form.html" %}

{% block container_class %}column-five-eights{% endblock %}

{% block after_form %}
  <div class="column-three-eights">
    <aside>
      <div class="home-info background--stone push--bottom">
        <h4 class="heading-small font-med push-half--top">Guidance</h4>
        <p class="font-xxsmall push--top">Use this form to get in touch with an ecommerce adviser (ECA). An ECA can help you get access to preferential, discounted rates negotiated on behalf of UK businesses by HM Government. Give as much detail as you can to help an ECA to understand how your company will fit with your chosen marketplace(s).</p>
      </div>
    </aside>
  </div>
{% endblock %}
