{% extends "default_thanks.html" %}

{% block success %}
  <h1 class='heading-xlarge push--bottom flush--top'>Enquiry submitted</h1>
  <p>Thanks for your enquiry about getting help accessing this marketplace. A member of staff at the Department for International Trade will review your request and respond to you within 5 working days.</p>
  <p>You can now <a href="https://selling-online-overseas.export.great.gov.uk/markets/filter">search for more online marketplaces</a> or <a href="https://www.great.gov.uk/export">read about your next steps in exporting</a>.</p>
{% endblock %}

{% block failure %}
  <h1 class='heading-xlarge push--bottom flush--top'>Technical error</h1>
  <p>Your enquiry couldn't be submitted because of a technical error with our system. Please use your browser's "back" button to review the form and try to resubmit.</p>
  <p>If this problem continues to happen, please try again later.</p>
{% endblock %}
