{% load utils %}

{{ form.non_field_errors }}
<div class='outer-container'>
  <form role="form" action="" method="post" class="contact_form push--ends soft--bottom" novalidate data-form-validate>
    <fieldset>
      {% csrf_token %}

      {% for field in form.hidden_fields %}
        {% include "includes/inputs/hiddenfield.html" %}
      {% endfor %}

      {% for field in form.visible_fields %}
        {% get_form_field_template field as template %}
        {% include template %}
      {% endfor %}
    <fieldset>

    {% if use_captcha %}
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
      </div>
    {% endif %}
      <button type="submit" class="button button-blue button-medium">{{ form.submit_text }}</button>
  </form>
</div>
