
<header class="static-header-footer" id="header">
  <a class="verbose" href="#content" id="skip-link">Skip to main content</a>
  <div id="header-bar">
    <div class="container">
      <p class="government-links"><img alt="HM Government logo" src="/static/images/hm_government_logo_horizontal.svg"><span class="partof">Part of</span> <a class="partof" href="https://www.great.gov.uk/">great.gov.uk</a></p>
      <ul aria-label="Account links" class="navigation account-links">
        <li class="anonymous">
          <a class="register dead" href="#">Register</a>
        </li>
        <li class="anonymous">
          <a class="signin dead" href="#">Sign in</a>
        </li>
        <li class="authenticated">
          <a class="profile dead" href="#">Profile</a>
        </li>
        <li class="authenticated">
          <a class="signout dead" href="#">Sign out</a>
        </li>
      </ul><span class="greeting"></span>
    </div>
  </div>
  <div id="header-menu">
    <div class="container">
      <a class="home" href="/"><img alt="Home" src="/static/images/DfIT_WHITE_AW.png"></a>
      <nav id="menu">
        <ul class="navigation level-1">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a class="list-header" href="#nav-export-readiness-list" id="nav-export-readiness">Export readiness</a>
            <ul aria-labelledby="nav-export-readiness" class="navigation level-2" id="nav-export-readiness-list">
              <li class="lg-3 md-1">
                <a href="/new">I&#39;m new to exporting</a>
              </li>
              <li class="lg-3 md-1">
                <a class="dead" href="#">I export occasionally</a>
              </li>
              <li class="lg-3 md-1">
                <a class="dead" href="#">I&#39;m a regular exporter</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="list-header" href="#nav-guidance-list" id="nav-guidance">Guidance</a>
            <ul aria-labelledby="nav-guidance" class="navigation level-2" id="nav-guidance-list">
              <li class="lg-6 md-1">
                <a href="/market-research">Market research</a>
              </li>
              <li class="lg-6 md-1">
                <a href="/customer-insight">Customer insight</a>
              </li>
              <li class="lg-6 md-1">
                <a href="/finance">Finance</a>
              </li>
              <li class="lg-6 md-1">
                <a href="/business-planning">Business planning</a>
              </li>
              <li class="lg-6 md-1">
                <a href="/getting-paid">Getting paid</a>
              </li>
              <li class="lg-6 md-1">
                <a href="/operations-and-compliance">Operations and compliance</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="list-header" href="#nav-services-list" id="nav-services">Services</a>
            <ul aria-labelledby="nav-services" class="navigation level-2" id="nav-services-list">
              <li class="lg-5 md-1">
                <a class="dead" href="#">Find a buyer</a><span class="description">Get promoted internationally with a great.gov.uk trade profile</span>
              </li>
              <li class="lg-5 md-1">
                <a class="dead" href="#">Selling online overseas</a><span class="description">Find online marketplaces</span>
              </li>
              <li class="lg-5 md-1">
                <a class="dead" href="#">Export opportunities</a><span class="description">Find and apply for overseas opportunities</span>
              </li>
              <li class="lg-5 md-1">
                <a class="dead" href="#">Get finance</a><span class="description">Get the finance you need to compete and grow</span>
              </li>
              <li class="lg-5 md-1">
                <a class="dead" href="#">Events</a><span class="description">Central hub for business and networking opportunities</span>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>