<div class="form-group">
  {{ field.errors }}
  <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
  <span class="form-helptext" >{{ field.help_text }}</span>
  <input class="form-control" type="text" id="{{ field.id_for_label }}" name="{{ field.name }}" 
    value="{% if field.value %}{{ field.value }}{% endif %}"
    {% if field.field.required %}required{% endif %}
    {% for attr, value in field.field.widget.attrs.items %}
      {{ attr }}="{{ value }}"
    {% endfor %} />
</div>