<div class="form-group">
  {{ field.errors }}
  <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
  <p class="form-label">{{ field.help_text }}</p>
  <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}"
    {% if field.field.required %}required{% endif %}
    {% for attr, value in field.field.widget.attrs.items %}
      {{ attr }}="{{ value }}"
    {% endfor %}>
    {% for value in field.field.choices %}
      <option value="{{ value.0 }}">{{ value.1 }}</option>
    {% endfor %}
  </select>
</div>
