{{ form.non_field_errors }}

{% block before_tabs %}{% endblock %}

{% with start_number=1 %}
  {% include "includes/step_tabs.html" %}
{% endwith %}

<div class='outer-container'>
  <form role="form" action="" method="post" class="form-steps" novalidate>
    {% csrf_token %}

    {% for field in form.hidden_fields %}
      {% include "includes/inputs/hiddenfield.html" %}
    {% endfor %}

    {% for step in form.steps %}
      {% include "includes/step.html" %}
    {% endfor %}
    <button class="button button-blue button-medium button-submit push--bottom">{{ form.submit_text }}</button>

  </form>
</div>
