{% extends "includes/inputs/base.html" %}

{% block field %}
  <div class="form-group{% if field.errors %} form-group-error{% endif %}">
    <span class="form-group-error--message">{{ field.errors }}</span>
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }} {% if field.help_text %}<span class="form-hint">{{ field.help_text | safe }}</span>{% endif %}</label>
    {% if field.field.widget.prefix %}
      <span class="form-control-addon">{{ field.field.widget.prefix }}</span>
    {% endif %}
    <input type="email" id="{{ field.id_for_label }}" name="{{ field.name }}"
      class="form-control {{ field.field.widget.attrs.class }}"
      value="{% if field.value %}{{ field.value }}{% endif %}"
      {% if field.field.required %}required{% endif %}
      {% for attr, value in field.field.widget.attrs.items %}
        {{ attr }}="{{ value }}"
      {% endfor %} />
  </div>
{% endblock %}
