{% extends "includes/inputs/base.html" %}

{% block field %}
  <div class="form-group{% if field.errors %} form-group-error{% endif %}">
    <span class="form-group-error--message">{{ field.errors }}</span>
    <h3 class="form-label">{{ field.label }}  {% if field.help_text %}<span class="form-hint">{{ field.help_text | safe }}</span>{% endif %}</h3>
    {% for value in field.field.choices %}
      <label class="block-label selection-button-radio" for="{{ field.id_for_label }}_{{ forloop.counter0 }}">
        <input id="{{ field.id_for_label }}_{{ forloop.counter0 }}"
          type="radio" name="{{ field.name }}" value="{{ value.0 }}"
          class="{{ field.field.widget.attrs.class }}"
          {% if field.value == value.0 %} checked='checked' {% endif %}
          {% if field.field.required %}required{% endif %}
          {% for attr, value in field.field.widget.attrs.items %}
            {{ attr }}="{{ value }}"
          {% endfor %} />
        {{ value.1 }}
      </label>
    {% endfor %}
  </div>
{% endblock %}
