<div>
  <div class="col-7 hard--left">
    <div class="form-group{% if field.errors %} form-group-error{% endif %}">
      <span class="form-group-error--message">{{ field.errors }}</span>
      <h3 class="form-label soft-half--bottom">{{ field.label }}</h3>
      {% for value in field.field.choices %}
        <label class="block-label selection-button-radio" for="{{ field.id_for_label }}_{{ forloop.counter0 }}">
          <input id="{{ field.id_for_label }}_{{ forloop.counter0 }}"
            type="radio" name="{{ field.name }}" value="{{ value.0 }}"
            class="{{ field.field.widget.attrs.class }}"
            {% if field.value == value.0 %} checked='checked' {% endif %}
            {% if field.field.required %}required{% endif %}
            {% for attr, value in field.field.widget.attrs.items %}
              {{ attr }}="{{ value }}"
            {% endfor %} />
          {{ value.1 }}
        </label>
      {% endfor %}
    </div>
  </div>
  <div class="col-4 form-group-help hard--left">
    {{ field.help_text | safe }}
  </div>
  <div class="col-1">&nbsp;</div>
</div>
