<div class="column-five-eights hard--left">
  <div class="form-group{% if field.errors %} form-group-error{% endif %}">
    <span class="form-group-error--message">{{ field.errors }}</span>
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <select id="{{ field.id_for_label }}" name="{{ field.name }}"
      class="form-control {{ field.field.widget.attrs.class }}"
      {% if field.field.required %}required{% endif %}
      {% for attr, value in field.field.widget.attrs.items %}
        {{ attr }}="{{ value }}"
      {% endfor %}>
      {% for value in field.field.choices %}
        <option value="{{ value.0 }}">{{ value.1 }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="column-three-eights form-group-help hard--left">
  {{ field.help_text | safe }}
</div>
