{% extends "includes/inputs/base.html" %}

{% block field %}
  <div class="form-group{% if field.errors %} form-group-error{% endif %}">
    <div class="soft-half--bottom">
      <span class="form-group-error--message">{{ field.errors }}</span>
      <label class="form-label flush--bottom" for="{{ field.id_for_label }}">{{ field.label }} {% if field.help_text %}<span class="form-hint">{{ field.help_text | safe }}</span>{% endif %}</label>
      <textarea id="{{ field.id_for_label }}" name="{{ field.name }}"
        class="form-control form-textarea {{ field.field.widget.attrs.class }}"
        {% if field.field.required %}required{% endif %}
        {% for attr, value in field.field.widget.attrs.items %}
          {{ attr }}="{{ value }}"
        {% endfor %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
    </div>
  </div>
{% endblock %}