
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes shake-horizontal {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        -ms-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        -ms-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        -ms-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}

@keyframes shake-vertical {
    10%,
    90% {
        -webkit-transform: translate3d(0, -1px, 0);
        -ms-transform: translate3d(0, -1px, 0);
        transform: translate3d(0, -1px, 0)
    }
    20%,
    80% {
        -webkit-transform: translate3d(0, 2px, 0);
        -ms-transform: translate3d(0, 2px, 0);
        transform: translate3d(0, 2px, 0)
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
    40%,
    60% {
        -webkit-transform: translate3d(0, 4px, 0);
        -ms-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0)
    }
}

.shake {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake-horizontal 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

.shake-vertical {
    -webkit-animation: shake-vertical 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake-vertical 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}
