
// BASE

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, dfn, em, img, q, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, th, td, article, aside, figure, figcaption, footer, header, nav, section, textarea, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: "Roboto", arial, helvetica, sans-serif;
  line-height: 22px;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased
}

blockquote, q {
  quotes: none;
}

fieldset:after,
.form-group:after,
.form-block:after {
  content: "";
  display: block;
  clear: both
}

ul,
ol {
  list-style-type: none
}

fieldset {
  width: 100%
}

textarea {
  display: block
}

.block-label input {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  margin: 0;
  width: 29px;
  height: 29px
}

.block-label:hover {
  border-color: #0b0c0c
}

.block-label:last-child {
  margin-bottom: 0
}

.inline .block-label {
  clear: none;
  margin-right: 10px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}

[dir="rtl"] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

html {
  box-sizing: border-box
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes shake-horizontal {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0)
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0)
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0)
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0)
  }
}

@keyframes shake-vertical {
  10%,
  90% {
    -webkit-transform: translate3d(0, -1px, 0);
    -ms-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0)
  }
  20%,
  80% {
    -webkit-transform: translate3d(0, 2px, 0);
    -ms-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0)
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0)
  }
  40%,
  60% {
    -webkit-transform: translate3d(0, 4px, 0);
    -ms-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0)
  }
}

.shake {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake-horizontal 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

.shake-vertical {
  -webkit-animation: shake-vertical 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake-vertical 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

.text--left {
  text-align: left
}

.text--center {
  text-align: center
}

.text--right {
  text-align: right
}

.push {
  margin: 20px
}

.push--top {
  margin-top: 20px
}

.push--right {
  margin-right: 20px
}

.push--bottom {
  margin-bottom: 20px
}

.push--left {
  margin-left: 20px
}

.push--ends {
  margin-bottom: 20px;
  margin-top: 20px
}

.push--sides {
  margin-left: 20px;
  margin-right: 20px
}

.push-half {
  margin: 10px
}

.push-half--top {
  margin-top: 10px
}

.push-half--right {
  margin-right: 10px
}

.push-half--bottom {
  margin-bottom: 10px
}

.push-half--left {
  margin-left: 10px
}

.push-half--ends {
  margin-bottom: 10px;
  margin-top: 10px
}

.push-half--sides {
  margin-left: 10px;
  margin-right: 10px
}

.flush {
  margin: 0
}

.flush--top {
  margin-top: 0
}

.flush--right {
  margin-right: 0
}

.flush--bottom {
  margin-bottom: 0
}

.flush--left {
  margin-left: 0
}

.flush--ends {
  margin-bottom: 0;
  margin-top: 0
}

.flush--sides {
  margin-left: 0;
  margin-right: 0
}

.soft {
  padding: 20px
}

.soft--top {
  padding-top: 20px
}

.soft--right {
  padding-right: 20px
}

.soft--bottom {
  padding-bottom: 20px
}

.soft--left {
  padding-left: 20px
}

.soft--ends {
  padding-bottom: 20px;
  padding-top: 20px
}

.soft--sides {
  padding-left: 20px;
  padding-right: 20px
}

.soft-half {
  padding: 10px
}

.soft-half--top {
  padding-top: 10px
}

.soft-half--right {
  padding-right: 10px
}

.soft-half--bottom {
  padding-bottom: 10px
}

.soft-half--left {
  padding-left: 10px
}

.soft-half--ends {
  padding-bottom: 10px;
  padding-top: 10px
}

.soft-half--sides {
  padding-left: 10px;
  padding-right: 10px
}

.hard {
  padding: 0
}

.hard--top {
  padding-top: 0
}

.hard--right {
  padding-right: 0
}

.hard--bottom {
  padding-bottom: 0
}

.hard--left {
  padding-left: 0
}

.hard--ends {
  padding-bottom: 0;
  padding-top: 0
}

.hard--sides {
  padding-left: 0;
  padding-right: 0
}

.cf:after {
  clear: both;
  content: '';
  display: table
}

.image-full {
  width: 100%
}

.hide {
  display: none
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none
  }
}

.show {
  display: block
}

.float--right {
  float: right
}

.float--left {
  float: left
}

.float--none {
  float: none
}

.loader {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10
}

.loader:after {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 5px solid #fafafa;
  border-radius: 50%;
  border-top: 5px solid #00549f;
  content: '';
  display: block;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  width: 50px
}

.desktop-only {
  display: none
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  .desktop-only {
    display: block
  }
}

.overflow--hidden {
  overflow: hidden
}

.min-height {
  min-height: 550px
}

@media screen and (max-width: 767px) {
  .min-height {
    min-height: 0
  }
}

.border {
  border: 1px solid #dce0df
}

.border-top {
  border-top: 1px solid #dce0df
}

.text-shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.65)
}

@media screen and (max-width: 767px) {
  .text-shadow {
    text-shadow: none
  }
}

.section-clickable {
  position: relative
}

.section-clickable a {
  display: inline-block;
  text-decoration: none
}

.section-clickable:hover a,
.section-clickable:hover h4 {
  color: #007ea3;
  text-decoration: underline
}

.top-chevron {
  position: relative
}

.top-chevron:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 22px solid #fff;
  content: '';
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 0
}

.icon-information {
  background-image: url("/static/images/icon-information.png")
}

.icon-next {
  position: relative
}

.icon-next::after {
  content: '\203A';
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  right: -20px;
  top: -15px
}

.icon-ok {
  background-image: url("/static/images/icons/tick_yes.svg")
}

.icon-users {
  background-image: url("/static/images/icons/registered_users.svg")
}

.icon-products {
  background-image: url("/static/images/icons/product.svg")
}

.icon-on-boarding {
  background-image: url("/static/images/icons/onboarding.svg")
}

.icon-fees {
  background-image: url("/static/images/icons/fees.svg")
}

.icon-next-step {
  background-image: url("/static/images/icons/nextsteps.svg")
}

.icon-consider {
  background-image: url("/static/images/icons/consideration.svg")
}

.icon-adviser {
  background-image: url("/static/images/icons/adviser_tip.svg")
}

.icon-cross {
  background-image: url("/static/images/icons/tick_no.svg")
}

.icon-menu {
  background-image: url("/static/images/icons/menu.svg")
}

.icon-support {
  background-image: url("/static/images/icons/support.svg")
}

.icon-logistics {
  background-image: url("/static/images/icons/logistics.svg")
}

.icon-bank {
  background-image: url("/static/images/icons/bank_account.svg")
}

.icon-translation {
  background-image: url("/static/images/icons/translation.svg")
}

.icon-translation--white {
  background-image: url("/static/images/icons/translation-white.svg")
}

.icon-countries {
  background-image: url("/static/images/icons/region.svg")
}

.icon-countries--white {
  background-image: url("/static/images/icons/region-white.svg")
}

.icon-expand {
  background-image: url("/static/images/icons/expand-white.svg")
}

.icon-close {
  background-image: url("/static/images/icons/close-white.svg")
}

.icon-thankyou {
  background-image: url("/static/images/icons/thanks.svg")
}

.icon-thankyou--grey {
  background-image: url("/static/images/icons/thanks-grey.svg")
}

.icon-error {
  background-image: url("/static/images/icons/error.svg")
}

.icon-error--grey {
  background-image: url("/static/images/icons/error-grey.svg")
}

.icon-feedback {
  background-image: url("/static/images/icons/feedback.svg")
}

.icon-feedback--grey {
  background-image: url("/static/images/icons/feedback-grey.svg")
}

.icon-sign-in {
  background-image: url("/static/images/icons/signin.svg")
}

.icon-sign-out {
  background-image: url("/static/images/icons/signout.svg")
}

.icon-header {
  background-size: contain;
  height: 45px;
  position: absolute;
  top: -30px;
  width: 45px;
  z-index: 1
}

@media screen and (max-width: 767px) {
  .icon-header {
    top: -28px
  }
}

.icon-header--left {
  background-color: #fafafa;
  left: -1px;
  padding-bottom: 5px;
  width: 55px
}

@media screen and (max-width: 767px) {
  .icon-header--left {
    background-position: center center;
    width: 33px
  }
}

.icon-small {
  background-position: center;
  height: 12px;
  width: 15px
}

.icon-details {
  background-position: left bottom;
  background-size: contain;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 13px
}

.icon--left {
  height: 20px;
  left: -25px;
  position: absolute;
  width: 22px
}

.navigation-main a,
.footer a {
  color: #fff
}

.list-separators li:after,
.navigation-toggle-middle,
.footer-links--border,
.footer-middle-section,
.footer .footer-bottom {
  color: #756e8f;
  color: rgba(250, 250, 250, 0.5)
}

.navigation-toggle-item a {
  border-color: #756e8f;
  border-color: rgba(250, 250, 250, 0.5)
}

.navigation-login a:hover:after {
  border-top: 3px solid #e41f13;
  content: '';
  left: 0;
  position: absolute;
  top: -8px;
  width: 100%
}

@media screen and (max-width: 767px) {
  .navigation-login a:hover:after {
    content: none
  }
}

.font-reg,
.h3,
.link,
.heading-headline,
.block-label,
.form-success-section span,
.form-success a,
a.link,
.nav-intro a,
.autocomplete .form-hint {
  font-weight: 400
}

.font-med,
.h1,
.h2,
h1,
h2,
strong,
.form-group-error--message,
.form-label,
.form-tab a.form-tab-link,
.form-intro-terms a,
.button,
.navigation-main-button,
.audit .button,
.detail-section h3,
.detail-section dt.subtitle,
.detail-section-title.subtitle {
  font-weight: 500
}

body,
.font-body,
blockquote,
.form-hint,
.detail-section dt.subtitle,
.detail-section-title.subtitle {
  font-size: 15px
}

.font-xlarge {
  font-size: 24px
}

.list-regular,
.font-large,
.link--regular,
.heading-headline,
.form-group-error--message,
.form-label,
.button-medium,
.button-close:before,
.audit .button,
.detail-section.detail-section--format dt,
.detail-section.detail-section--format dd,
.detail-section dt,
.detail-section-title {
  font-size: 18px
}

.font-small,
.read-time {
  font-size: 13px
}

.h1 {
  font-size: 48px
}

.h2 {
  font-size: 32px
}

.h3,
.form-success-section span {
  font-size: 24px
}

.font-small {
  line-height: 20px
}

.font-large {
  line-height: 25px
}

.font-white {
  color: #fff
}

.font-brand {
  color: #333
}

.font-lighter-grey {
  color: #dce0df
}

.font-mid-grey {
  color: #999
}

.font-purple {
  color: #4f0b7b
}

.font-flag-red {
  color: #b00d23
}

.h1 {
  letter-spacing: -1px;
  line-height: 55px
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  .h1 {
    font-size: 36px
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 32px;
    letter-spacing: -.9px;
    line-height: 39px
  }
}

.h2 {
  letter-spacing: -.7px;
  line-height: 39px
}

@media screen and (max-width: 767px) {
  .h2 {
    font-size: 24px;
    letter-spacing: -.6px;
    line-height: 31px
  }
}

.h3 {
  letter-spacing: 0;
  line-height: 31px
}

@media screen and (max-width: 767px) {
  .h3 {
    font-size: 20px;
    line-height: 25px
  }
}

hr {
  background: #4f0b7b
}

a {
  -webkit-tap-highlight-color: rgba(0, 126, 163, 0.5);
  tap-highlight-color: rgba(0, 126, 163, 0.5)
}

a:focus {
  background-color: transparent;
  outline: 3px solid #ffbf47
}

.link {
  border-bottom: 1px solid;
  text-decoration: none
}

.link:hover {
  border-bottom: 1px dashed;
  color: #007ea3
}

.link--white {
  color: #fff
}

.link--white:visited {
  color: #fff
}

.link--white:hover {
  color: #3ed3ff
}

@media screen and (max-width: 767px) {
  .link--regular {
    font-size: 15px
  }
}

.link--back {
  display: inline-block;
  margin-top: 21px
}

p {
  margin-bottom: 20px
}

@media screen and (max-width: 767px) {
  .heading-headline {
    font-size: 15px
  }
}

a.link {
  border-bottom: 1px solid;
  color: #00549f;
  text-decoration: none
}

a.link:focus {
  outline: 3px solid #ffbf47
}

a.link:hover {
  border-bottom: 1px dashed;
  color: #007ea3;
  margin-bottom: -1px
}
