
// ERRORS

.error {
  margin-right: 15px
}

.error .error-message {
  color: #b10e1e;
  font-weight: bold
}

.error .form-control {
  border: 4px solid #b10e1e
}

.error .form-hint {
  margin-bottom: 0
}

.error,
.error-summary {
  border-left: 4px solid #b10e1e;
  padding-left: 10px
}

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
  margin: 0;
  padding: 5px 0 7px 0
}

.error-summary {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px
}

.error-summary:focus {
  outline: 3px solid #ffbf47
}

.error-summary .error-summary-heading {
  margin-top: 0
}

.error-summary p {
  margin-bottom: 10px
}

.error-summary .error-summary-list {
  padding-left: 0
}

.error-summary .error-summary-list a {
  color: #b10e1e;
  font-weight: bold;
  text-decoration: underline
}

.errorlist {
  color: #e41f13;
  margin-bottom: 5px
}

@media (min-width: 641px) {
  .error-summary .error-summary-list li {
    margin-bottom: 5px
  }

  .error,
  .error-summary {
    border-left: 5px solid #b10e1e;
    padding-left: 15px
  }

  .error-message {
    font-size: 19px;
    line-height: 1.31579
  }

  .error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px 15px
  }
}
