
// JS ENABLED

body.js-enabled noscript > div,
body.js-enabled noscript > div + div,
body.js-enabled noscript iframe {
  height: 350px!important;
}

noscript > div > div > div:nth-child(2) {
  bottom: 10px!important;
}
noscript > div,
noscript > div + div,
iframe {
  height: 550px!important;
}

.js-enabled label.selected {
  background: #fff;
  border-color: #0b0c0c
}

.js-enabled label.focused {
  outline: 3px solid #ffbf47
}

.js-enabled .focused input:focus {
  outline: none
}

.js-enabled .js-hidden {
  display: none
}

.js-enabled .toggle-container {
  display: none
}

.js-enabled .form-dropdown-hidden {
  display: none
}

.js-enabled .navigation-toggle {
  display: none
}

.js-enabled .navigation-toggle--open {
  display: block
}

.js-enabled .button-submit {
  display: none
}

.js-enabled label.focused {
  outline: none
}

.js-enabled label.selected {
  background: transparent
}

.js-enabled .block-label input {
  opacity: 0
}

.js-enabled .block-label.selection-button-checkbox:before {
  background: transparent;
  border: 2px solid;
  border-color: #333;
  border-radius: 4px;
  content: '';
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px
}

.js-enabled .block-label.selection-button-checkbox.focused:before {
  box-shadow: 0 0 0 3px #ffbf47
}

.js-enabled .block-label.selection-button-checkbox:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: transparent;
  border: solid;
  border-color: #00549f;
  border-width: 0 0 5px 5px;
  content: '';
  filter: alpha(opacity=0);
  height: 5px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 7px;
  width: 14px;
  zoom: 0
}

.js-enabled .block-label.selection-button-radio {
  padding-bottom: 20px
}

.js-enabled .block-label.selection-button-radio.focused:before {
  box-shadow: 0 0 0 4px #ffbf47
}

.js-enabled .block-label.selection-button-radio:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  color: #333;
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px
}

.js-enabled .block-label.selection-button-radio:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid #00549f;
  content: '';
  filter: alpha(opacity=0);
  height: 0;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 7px;
  width: 0;
  zoom: 1
}

.js-enabled .block-label.selection-button-checkbox.selected:after,
.js-enabled .block-label.selection-button-radio.selected:after {
  filter: alpha(opacity=100);
  opacity: 1;
  zoom: 1
}

.js-enabled .form-tab-button,
.js-enabled .search-companies {
  display: block
}
