
// LAYOUT

.text--left {
  text-align: left
}

.text--center {
  text-align: center
}

.text--right {
  text-align: right
}

.push {
  margin: 20px
}

.push--top {
  margin-top: 20px
}

.push--right {
  margin-right: 20px
}

.push--bottom {
  margin-bottom: 20px
}

.push--left {
  margin-left: 20px
}

.push--ends {
  margin-bottom: 20px;
  margin-top: 20px
}

.push--sides {
  margin-left: 20px;
  margin-right: 20px
}

.push-half {
  margin: 10px
}

.push-half--top {
  margin-top: 10px
}

.push-half--right {
  margin-right: 10px
}

.push-half--bottom {
  margin-bottom: 10px
}

.push-half--left {
  margin-left: 10px
}

.push-half--ends {
  margin-bottom: 10px;
  margin-top: 10px
}

.push-half--sides {
  margin-left: 10px;
  margin-right: 10px
}

.flush {
  margin: 0
}

.flush--top {
  margin-top: 0
}

.flush--right {
  margin-right: 0
}

.flush--bottom {
  margin-bottom: 0
}

.flush--left {
  margin-left: 0
}

.flush--ends {
  margin-bottom: 0;
  margin-top: 0
}

.flush--sides {
  margin-left: 0;
  margin-right: 0
}

.soft {
  padding: 20px
}

.soft--top {
  padding-top: 20px
}

.soft--right {
  padding-right: 20px
}

.soft--bottom {
  padding-bottom: 20px
}

.soft--left {
  padding-left: 20px
}

.soft--ends {
  padding-bottom: 20px;
  padding-top: 20px
}

.soft--sides {
  padding-left: 20px;
  padding-right: 20px
}

.soft-half {
  padding: 10px
}

.soft-half--top {
  padding-top: 10px
}

.soft-half--right {
  padding-right: 10px
}

.soft-half--bottom {
  padding-bottom: 10px
}

.soft-half--left {
  padding-left: 10px
}

.soft-half--ends {
  padding-bottom: 10px;
  padding-top: 10px
}

.soft-half--sides {
  padding-left: 10px;
  padding-right: 10px
}

.hard {
  padding: 0
}

.hard--top {
  padding-top: 0
}

.hard--right {
  padding-right: 0
}

.hard--bottom {
  padding-bottom: 0
}

.hard--left {
  padding-left: 0
}

.hard--ends {
  padding-bottom: 0;
  padding-top: 0
}

.hard--sides {
  padding-left: 0;
  padding-right: 0
}

.cf:after {
  clear: both;
  content: '';
  display: table
}

.hide {
  display: none
}

@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none
  }
}

.show {
  display: block
}

.float--right {
  float: right
}

.float--left {
  float: left
}

.float--none {
  float: none
}

.min-height {
  min-height: 550px
}

.outer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto
}

.outer-container::after {
  clear: both;
  content: "";
  display: block
}

.overflow--hidden {
  overflow: hidden
}

@media screen and (max-width: 1200px) {
  .outer-container {
    margin: 0 30px
  }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  .outer-container {
    margin: 0 20px
  }
}

@media screen and (max-width: 767px) {
  .outer-container {
    margin: 0 10px
  }

  .min-height {
    min-height: 0
  }
}
