
// NAVIGATION

.navigation-toggle {
  font-size: 16px;
  padding: 28px 0 50px
}

.navigation-toggle .font-large {
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px
}

@media screen and (max-width: 767px) {
  .navigation-toggle .outer-container {
    margin: 0;
    width: 100%
  }
}

@media screen and (max-width: 767px) {
  .navigation-toggle {
    padding: 0
  }
  .navigation-toggle .col-3 {
    float: left;
    display: block;
    margin-right: 1.53846%;
    width: 100%
  }
  .navigation-toggle .col-3:last-child {
    margin-right: 0
  }
}
