{% extends 'thumber/feedback.html' %}

{% block feedback %}
  <div class="cf soft--top">
    <div class="col-3">&nbsp;</div>
    <div class="col-6">
      <div class="audit">
        <i class="icon icon-feedback">
          <span class="visuallyhidden">feedback</span>
        </i>
        <h3 class="heading-small font-med audit-header">{{ satisfied_wording }}</h3>
        <form action="{{ request.get_full_path }}" method="post" class="audit-form">
          {% csrf_token %}
          <div class="audit-button float--left text--left">
            <button class="button button-border push--bottom" data-audit="yes">{{ yes_wording }}</button>
          </div>
          <div class="audit-button float--left text--right">
            <button class="button button-border push--bottom" data-audit="no">{{ no_wording }}</button>
          </div>
          <div class="audit-text-section hide">
            <fieldset>
              <div class="push--bottom">
                <textarea class="form-control form-textarea col-12" id="" name="comment" cols="40" rows="5" placeholder="{{ comment_placeholder }}"></textarea>
              </div>
            </fieldset>
            <div class="audit-button audit-button--send text--right float--right hard--right">
              <button class="button button-border" data-audit="submit">{{ submit_wording }}</button>
            </div>
          </div>
        </form>
      </div>
      <div class="audit-thank hide">
        <i class="icon icon-thankyou">
          <span class="visuallyhidden">Thank you</span>
        </i>
        <h3 class="heading-small font-med audit-header">{{ thanks_wording }}</h3>
      </div>
      <div class="audit-error hide">
        <i class="icon icon-error">
          <span class="visuallyhidden">error</span>
        </i>
        <h3 class="heading-small font-med audit-header">Sorry, something went wrong</h3>
        <p>Please try again later, or <a href="https://contact-us.export.great.gov.uk/feedback/selling_online_overseas/" title="feedback">use the feedback form</a></p>
      </div>
    </div>
    <div class="col-3">&nbsp;</div>
  </div>
{% endblock %}
