
// BACKGROUNDS

.background--grey {
    background-color: #dee0e2
}

.background--grey-dark {
    background-color: #bfc1c3
}

.background--grey-darker {
    background-color: #6f777b
}

.background--grey-darkest {
    background-color: #333
}

.background--blue {
    background-color: #005ea5
}

.background--stone {
    background-color: #dfd5c5
}

.background--light-stone {
    background-color: #f6f4f1
}

.background--great-primary {
    background-color: #1e1348
}

.background--indigo {
    background-color: #110b29
}

.background--lighter-grey {
    background-color: #dce0df
}

.background--aqua {
    background-color: #007ea3
}

.background--dark-navy {
    background-color: #160d37
}

.background--great-blue {
    background-color: #1e1348
}

.background--dark-blue {
    background-color: #132965
}

.background--light-blue {
    background-color: #00549f
}

.background--bright-grey {
    background-color: #fafafa
}

.background--bright-grey-opacity {
    background-color: #fafafa
}

.background--bright-grey-opacity {
    background-color: rgba(250, 250, 250, 0.9)
}

.background--light-aqua {
    background-color: #8ae2fb
}

.background--white {
    background-color: #fff
}
