
// GRID

.col-1 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 6.92308%
}

.col-1:last-child { margin-right: 0 }

.col-2 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 15.38462%
}

.col-2:last-child { margin-right: 0 }

.col-3 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 23.84615%
}

.col-3:last-child { margin-right: 0 }

.col-4 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 32.30769%
}

.col-4:last-child { margin-right: 0 }

.col-5 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 40.76923%
}

.col-5:last-child { margin-right: 0 }

.col-6 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 49.23077%
}

.col-6:last-child { margin-right: 0 }

.col-7 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 57.69231%
}

.col-7:last-child { margin-right: 0 }

.col-8 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 66.15385%
}

.col-8:last-child { margin-right: 0 }

.col-9 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 74.61538%
}

.col-9:last-child { margin-right: 0 }

.col-10 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 83.07692%
}

.col-10:last-child { margin-right: 0 }

.col-11 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 91.53846%
}

.col-11:last-child { margin-right: 0 }

.col-12 {
  float: left;
  display: block;
  margin-right: 1.53846%;
  width: 100%
}

.col-12:last-child { margin-right: 0 }

@media screen and (max-width: 767px) {
  .col-1, .col-2, .col-3, .col-4,
  .col-5, .col-6, .col-7, .col-8,
  .col-9, .col-10, .col-11, .col-12 {
    float: none;
    width: 100%
  }
}
