
// ICONS

.icon-information {
  background-image: url("/static/images/icon-information.png")
}

.icon-next {
  position: relative
}

.icon-next::after {
  content: '\203A';
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  right: -20px;
  top: -15px
}

.icon-ok {
  background-image: url("/static/images/icons/tick_yes.svg")
}

.icon-users {
  background-image: url("/static/images/icons/registered_users.svg")
}

.icon-products {
  background-image: url("/static/images/icons/product.svg")
}

.icon-on-boarding {
  background-image: url("/static/images/icons/onboarding.svg")
}

.icon-fees {
  background-image: url("/static/images/icons/fees.svg")
}

.icon-next-step {
  background-image: url("/static/images/icons/nextsteps.svg")
}

.icon-consider {
  background-image: url("/static/images/icons/consideration.svg")
}

.icon-adviser {
  background-image: url("/static/images/icons/adviser_tip.svg")
}

.icon-cross {
  background-image: url("/static/images/icons/tick_no.svg")
}

.icon-menu {
  background-image: url("/static/images/icons/menu.svg")
}

.icon-support {
  background-image: url("/static/images/icons/support.svg")
}

.icon-logistics {
  background-image: url("/static/images/icons/logistics.svg")
}

.icon-bank {
  background-image: url("/static/images/icons/bank_account.svg")
}

.icon-translation {
  background-image: url("/static/images/icons/translation.svg")
}

.icon-translation--white {
  background-image: url("/static/images/icons/translation-white.svg")
}

.icon-countries {
  background-image: url("/static/images/icons/region.svg")
}

.icon-countries--white {
  background-image: url("/static/images/icons/region-white.svg")
}

.icon-expand {
  background-image: url("/static/images/icons/expand-white.svg")
}

.icon-close {
  background-image: url("/static/images/icons/close-white.svg")
}

.icon-thankyou {
  background-image: url("/static/images/icons/thanks.svg")
}

.icon-thankyou--grey {
  background-image: url("/static/images/icons/thanks-grey.svg")
}

.icon-error {
  background-image: url("/static/images/icons/error.svg")
}

.icon-error--grey {
  background-image: url("/static/images/icons/error-grey.svg")
}

.icon-feedback {
  background-image: url("/static/images/icons/feedback.svg")
}

.icon-feedback--grey {
  background-image: url("/static/images/icons/feedback-grey.svg")
}

.icon-sign-in {
  background-image: url("/static/images/icons/signin.svg")
}

.icon-sign-out {
  background-image: url("/static/images/icons/signout.svg")
}

.icon-header {
  background-size: contain;
  height: 45px;
  position: absolute;
  top: -30px;
  width: 45px;
  z-index: 1
}

@media screen and (max-width: 767px) {
  .icon-header {
    top: -28px
  }
}

.icon-header--left {
  background-color: #fafafa;
  left: -1px;
  padding-bottom: 5px;
  width: 55px
}

@media screen and (max-width: 767px) {
  .icon-header--left {
    background-position: center center;
    width: 33px
  }
}

.icon-small {
  background-position: center;
  height: 12px;
  width: 15px
}

.icon-details {
  background-position: left bottom;
  background-size: contain;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 13px
}

.icon--left {
  height: 20px;
  left: -25px;
  position: absolute;
  width: 22px
}
